/* Base styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #0a192f; /* Dark blue background */
    color: #8892b0;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

/* Container for content */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem;
}

/* Style the header */
/* Adjust the header height and padding */
header {
    background: #112240;
    top: 0;
    z-index: 10;
}

/* Adjust the intro section height and padding */
.intro {
    background: #112240;
    text-align: center;
}

/* If you have a separate container or title within the intro that needs adjustment */
.intro h1 {
    margin: 0; /* Removes default margin */
    font-size: 1.75rem; /* Adjust font size as needed */
    padding: 0 1rem; /* Horizontal padding only */
}

/* Similarly, adjust the paragraph spacing if needed */
.intro p {
    margin-top: 10px; /* Adds a bit of margin at the top */
    margin-bottom: 10px; /* Adds a bit of margin at the bottom */
    padding: 0 1rem; /* Horizontal padding only */
    font-size: 1rem; /* Adjust font size as needed */
}


header h1 {
    color: #ccd6f6;
}

/* Navigation styles */
header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #64ffda; /* Darker cyan color */
}


/* Project cards */
.project-card {
    background: #0a192f; /* Dark blue */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 30px -10px #1d2733;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 2rem;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px -5px #1d2733;
}

.project-card h3 {
    background: #112240;
    color: #64ffda;
    padding: 1rem;
    margin: 0;
}

.project-card p {
    padding: 1rem;
    background: #0a192f;
    color: #8892b0;
    margin: 0;
}

.project-card a {
    display: inline-block;
    padding: 1rem;
    background: #112240;
    color: #64ffda;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.project-card a:hover {
    background: #0a192f;
}

/* Footer */
footer {
    background: #112240;
    color: #8892b0;
    text-align: center;
    padding: 2rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
